@charset "UTF-8";

/* --- Brand css --- */ /* Tipografies corporatives  */ /* Banner 2015 - Web fonts */
@font-face {
    font-family: "Source Sans Pro";
    /* https://w9.barcelona.cat/vendor/fonts/SourceSansPro/EOT/SourceSansPro-Regular.eot */
    src: url("/s/SourceSansPro-Regular.eot") format("embedded-opentype"),
    /* https://w9.barcelona.cat/vendor/fonts/SourceSansPro/WOFF2/TTF/SourceSansPro-Regular.ttf.woff2 */
    url("/s/SourceSansPro-Regular.ttf.woff2") format("woff2"),
    /* https://w9.barcelona.cat/vendor/fonts/SourceSansPro/WOFF/OTF/SourceSansPro-Regular.otf.woff */
    url("/s/SourceSansPro-Regular.otf.woff") format("woff"),
    /* https://w9.barcelona.cat/vendor/fonts/SourceSansPro/OTF/SourceSansPro-Regular.otf */
    url("/s/SourceSansPro-Regular.otf") format("opentype"),
    /* https://w9.barcelona.cat/vendor/fonts/SourceSansPro/TTF/SourceSansPro-Regular.ttf */
    url("/s/SourceSansPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; }

@font-face {
    font-family: "SourceSansProItalic";
    /* https://w9.barcelona.cat/vendor/fonts/SourceSansPro/EOT/SourceSansPro-It.eot */
    src: url("/s/SourceSansPro-It.eot") format("embedded-opentype"),
    /* https://w9.barcelona.cat/vendor/fonts/SourceSansPro/WOFF2/TTF/SourceSansPro-It.ttf.woff2 */
    url("/s/SourceSansPro-It.ttf.woff2") format("woff2"),
    /* https://w9.barcelona.cat/vendor/fonts/SourceSansPro/WOFF/OTF/SourceSansPro-It.otf.woff */
    url("/s/SourceSansPro-It.otf.woff") format("woff"),
    /* https://w9.barcelona.cat/vendor/fonts/SourceSansPro/OTF/SourceSansPro-It.otf */
    url("/s/SourceSansPro-It.otf") format("opentype"),
    /* https://w9.barcelona.cat/vendor/fonts/SourceSansPro/TTF/SourceSansPro-It.ttf */
    url("/s/SourceSansPro-It.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; }

@font-face {
    font-family: "SourceSansProLightItalic";
    /* https://w9.barcelona.cat/vendor/fonts/SourceSansPro/EOT/SourceSansPro-LightIt.eot */
    src: url("/s/SourceSansPro-LightIt.eot") format("embedded-opentype"),
        /* https://w9.barcelona.cat/vendor/fonts/SourceSansPro/WOFF2/TTF/SourceSansPro-LightIt.ttf.woff2 */
    url("/s/SourceSansPro-LightIt.ttf.woff2") format("woff2"),
        /* https://w9.barcelona.cat/vendor/fonts/SourceSansPro/WOFF/OTF/SourceSansPro-LightIt.otf.woff */
    url("/s/SourceSansPro-LightIt.otf.woff") format("woff"),
        /* https://w9.barcelona.cat/vendor/fonts/SourceSansPro/OTF/SourceSansPro-LightIt.otf */
    url("/s/SourceSansPro-LightIt.otf") format("opentype"),
        /* https://w9.barcelona.cat/vendor/fonts/SourceSansPro/TTF/SourceSansPro-LightIt.ttf */
    url("/s/SourceSansPro-LightIt.ttf") format("truetype");
    font-weight: 300;
    font-style: normal; }

@font-face {
    font-family: "SourceSansProSemiBold";
    /* https://w9.barcelona.cat/vendor/fonts/SourceSansPro/EOT/SourceSansPro-Semibold.eot */
    src: url("/s/SourceSansPro-Semibold.eot") format("embedded-opentype"),
    /* https://w9.barcelona.cat/vendor/fonts/SourceSansPro/WOFF2/TTF/SourceSansPro-Semibold.ttf.woff2 */
    url("/s/SourceSansPro-Semibold.ttf.woff2") format("woff2"),
    /* https://w9.barcelona.cat/vendor/fonts/SourceSansPro/WOFF/OTF/SourceSansPro-Semibold.otf.woff */
    url("/s/SourceSansPro-Semibold.otf.woff") format("woff"),
    /* https://w9.barcelona.cat/vendor/fonts/SourceSansPro/OTF/SourceSansPro-Semibold.otf */
    url("/s/SourceSansPro-Semibold.otf") format("opentype"),
    /* https://w9.barcelona.cat/vendor/fonts/SourceSansPro/TTF/SourceSansPro-Semibold.ttf */
    url("/s/SourceSansPro-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal; }

@font-face {
    font-family: "SourceSansProBold";
    /* https://w9.barcelona.cat/vendor/fonts/SourceSansPro/EOT/SourceSansPro-Bold.eot */
    src: url("/s/SourceSansPro-Bold.eot") format("embedded-opentype"),
    /* https://w9.barcelona.cat/vendor/fonts/SourceSansPro/WOFF2/TTF/SourceSansPro-Bold.ttf.woff2 */
    url("/s/SourceSansPro-Bold.ttf.woff2") format("woff2"),
    /* https://w9.barcelona.cat/vendor/fonts/SourceSansPro/WOFF/OTF/SourceSansPro-Bold.otf.woff */
    url("/s/SourceSansPro-Bold.otf.woff") format("woff"),
    /* https://w9.barcelona.cat/vendor/fonts/SourceSansPro/OTF/SourceSansPro-Bold.otf */
    url("/s/SourceSansPro-Bold.otf") format("opentype"),
    /* https://w9.barcelona.cat/vendor/fonts/SourceSansPro/TTF/SourceSansPro-Bold.ttf */
    url("/s/SourceSansPro-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal; }
/* Banner 2015 - Google web fonts */
#brand.v2015 .wrapper .content:after, #brand.v2015 nav.panel:after, #brand.v2015 nav.panel .padding-close:after, #brand.v2015 nav.lang .padding:after, #brand.v2015 nav.app .padding:after, #brand.v2015 nav.app ul li:after, #brand.v2015 nav.app ul li a:after, #brand.v2015 nav.city .left:after, #brand.v2015 nav.city .left ul:after, #brand.v2015 nav.city .right:after, #brand.v2015.v2015-ajuntament-f nav.city .left ul li:last-child:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

#brand.v2015 nav.city .right div ul li:nth-child(4) a {
  margin-right: 0 !important; }

#brand.v2015 header.navbar .wrapper .content .center a.app_launcher {
  margin-right: 20px; }

/* Banner 2015 Ciutat - Mobile First */
#brand.v2015 {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px; }
#brand.v2015 * {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  line-height: normal;
  letter-spacing: 0; }
#brand.v2015 a {
  text-decoration: none;
  background-color: transparent;
  outline: 0; }
#brand.v2015 a:active {
  outline: 0; }
#brand.v2015 a:hover {
  outline: 0; }
#brand.v2015 img {
  border: 0; }
#brand.v2015 ul {
  list-style-type: none;
  list-style-image: none;
  line-height: normal; }
#brand.v2015 p, #brand.v2015 ul, #brand.v2015 dl {
  line-height: normal;
  font-size: medium; }
#brand.v2015 nav {
  position: relative; }
#brand.v2015 .none {
  display: none; }
#brand.v2015 .wrapper {
  margin: 0 auto; }
#brand.v2015 .wrapper .content {
  min-width: 300px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px; }
#brand.v2015 .wrapper .content ul {
  list-style-type: none; }
#brand.v2015 header.navbar {
  border: none;
  position: relative;
  width: 100%;
  background-color: #e1e3e3;
  height: 41px;
  min-width: 320px; }
#brand.v2015 header.navbar .wrapper {
  position: relative;
  top: 6px;
  background-color: white;
  border-bottom: 1px solid #f0f1f1;
  height: 35px; }
#brand.v2015 header.navbar .wrapper .content {
  padding-right: 0; }
#brand.v2015 header.navbar .wrapper .content h1 {
  word-wrap: normal;
  margin: 0;
  padding: 0;
  float: left;
  width: 42.33333%;
  max-width: 127px;
  background-color: #e1e3e3;
  height: 33px; }
#brand.v2015 header.navbar .wrapper .content h1 span {
  text-indent: -9999px;
  display: block;
  height: 0; }
#brand.v2015 header.navbar .wrapper .content h1 {
  word-wrap: normal;
  display: block;
  line-height: 0;
  font-size: 0; }
#brand.v2015 header.navbar .wrapper .content h1 img {
  width: 100%;
  height: 100%; }
#brand.v2015 header.navbar .wrapper .content .center {
  width: 43%;
  padding-top: 7px;
  float: right;
  margin-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
#brand.v2015 header.navbar .wrapper .content .center a.app_launcher {
  display: none; }
#brand.v2015 header.navbar .wrapper .content .center a.app_launcher_mobile {
  float: right;
  width: 16px;
  height: 16px;
  background-size: 16px auto;
  margin: 2px 14px 0 0; }
#brand.v2015 header.navbar .wrapper .content .center a.app_launcher_mobile img {
  display: none; }
#brand.v2015 header.navbar .wrapper .content .center a.app_launcher_mobile.open {
  background-position: left -16px; }
#brand.v2015 header.navbar .wrapper .content .center a.lang_mobile {
  color: #747480;
  float: right; }
#brand.v2015 header.navbar .wrapper .content .center a.lang_mobile span.lang_text {
  display: inline-block;
  font-size: 12px;
  padding-right: 11px; }
#brand.v2015 header.navbar .wrapper .content .center a.lang_mobile.open {
  color: #c5c5ca; }
#brand.v2015 header.navbar .wrapper .content .center a.search_icon {
  float: right;
  width: 15px;
  height: 16px;
  margin: 2px 14px 0 0; }
#brand.v2015 header.navbar .wrapper .content .center a.search_icon.open {
  background-position: 0 -32px; }
#brand.v2015 header.navbar .wrapper .content .center a.search_icon img {
  display: none; }
#brand.v2015 header.navbar .wrapper .content h2.right {
  display: none; }
#brand.v2015 header.navbar .wrapper .logo_shield {
  float: right;
  display: block;
  outline: 0;
  line-height: 0;
  position: relative;
  top: 1px; }
#brand.v2015 header.navbar .wrapper img.logo_shield {
  height: 33px; }

#brand.v2015.restyle header.navbar {
  height: 34px !important; }
#brand.v2015.restyle header.navbar .wrapper {
  top: 0;
  height: 33px; }
#brand.v2015.restyle header.navbar .wrapper .content h1 {
  word-wrap: normal;
  background-color: transparent !important; }
#brand.v2015.restyle header.navbar .wrapper .content h1 {
  word-wrap: normal;
  color: black;
  vertical-align: middle;
  margin-top: 17px;
  letter-spacing: -0.5px;
  font-size: 16px !important;
  font-weight: bold; }
#brand.v2015.restyle header.navbar .wrapper .content h1 img {
  display: none; }
#brand.v2015.restyle header.navbar .wrapper .content img.logo_shield {
  width: 34px;
  height: 100%; }

#brand.v2015.restyle.punt-bcn .wrapper .content .center {
  width: 85%; }

/* Banner 2015 Ciutat - Media queries */
@media screen and (min-width: 480px) {
  #brand.v2015 .wrapper .content {
    min-width: 450px;
    padding-left: 15px;
    padding-right: 15px; }
  #brand.v2015 header.navbar {
    height: 51px; }
  #brand.v2015 header.navbar .wrapper {
    min-height: 45px; }
  #brand.v2015 header.navbar .wrapper .content h1 {
    width: 36.88889%;
    max-width: 171px;
    height: 45px; }
  #brand.v2015 header.navbar .wrapper .content .center {
    width: 48%;
    padding-top: 9px;
    margin-right: 22px; }
  #brand.v2015 header.navbar .wrapper .content .center a.app_launcher_mobile {
    width: 24px;
    height: 24px;
    background-size: 24px auto;
    margin-right: 24px;
    margin-top: 1px; }
  #brand.v2015 header.navbar .wrapper .content .center a.app_launcher_mobile.open {
    background-position: 0 -24px; }
  #brand.v2015 header.navbar .wrapper .content .center a.lang_mobile {
    padding-top: 0; }
  #brand.v2015 header.navbar .wrapper .content .center a.lang_mobile span.lang_text {
    font-size: 20px;
    background-position: right 12px;
    background-size: 12px auto;
    padding-right: 17px; }
  #brand.v2015 header.navbar .wrapper .content .center a.search_icon {
    margin-top: 1px;
    width: 24px;
    height: 23px;
    margin-right: 23px; }
  #brand.v2015 header.navbar .wrapper .content .center a.search_icon.open {
    background-position: 0 -23px; }
  #brand.v2015 header.navbar .wrapper .content img.logo_shield {
    height: 43px; }

  #brand.v2015.restyle header.navbar {
    height: 44px !important; }
  #brand.v2015.restyle header.navbar .wrapper {
    min-height: 43px; }
  #brand.v2015.restyle header.navbar .wrapper .content h1 {
    background-color: transparent !important; }
  #brand.v2015.restyle header.navbar .wrapper .content h1 {
    vertical-align: middle;
    margin-top: 22px;
    font-size: 22px !important; }
  #brand.v2015.restyle header.navbar .wrapper .content h1 img {
    display: none; }
  #brand.v2015.restyle header.navbar .wrapper .content img.logo_shield {
    width: 45px;
    height: 100%; }

  #brand.v2015.v2015-ciutat-prehome.restyle header.navbar .wrapper {
    min-height: 43px; }

  #brand.v2015.restyle.punt-bcn .wrapper .content .center {
    width: 84%;
    margin-top: 0;
    margin-left: 0; } }
@media screen and (min-width: 640px) {
  #brand.v2015 .wrapper .content {
    min-width: 600px;
    padding-left: 20px;
    padding-right: 20px; }
  #brand.v2015 header.navbar {
    min-height: 65px; }
  #brand.v2015 header.navbar .wrapper {
    min-height: 59px; }
  #brand.v2015 header.navbar .wrapper .content h1 {
    width: 36.66667%;
    max-width: 220px;
    height: 58px; }
  #brand.v2015 header.navbar .wrapper .content .center {
    width: 46.16667%;
    padding-top: 10px;
    margin-right: 30px; }
  #brand.v2015 header.navbar .wrapper .content .center a.app_launcher_mobile {
    width: 32px;
    height: 32px;
    background-size: 32px auto;
    margin-right: 30px;
    margin-top: 4px; }
  #brand.v2015 header.navbar .wrapper .content .center a.app_launcher_mobile:hover, #brand.v2015 header.navbar .wrapper .content .center a.app_launcher_mobile.open {
    background-position: left -32px; }
  #brand.v2015 header.navbar .wrapper .content .center a.lang_mobile {
    padding-top: 0; }
  #brand.v2015 header.navbar .wrapper .content .center a.lang_mobile span.lang_text {
    font-size: 28px;
    background-position: right 18px;
    background-size: auto auto;
    padding-right: 23px; }
  #brand.v2015 header.navbar .wrapper .content .center a.search_icon {
    width: 30px;
    height: 31px;
    background-size: auto auto;
    background-position: 0 0;
    margin-top: 4px;
    margin-right: 30px; }
  #brand.v2015 header.navbar .wrapper .content .center a.search_icon.open {
    background-position: 0 -32px; }
  #brand.v2015 header.navbar .wrapper .content img.logo_shield {
    height: 57px; }

  #brand.v2015.restyle header.navbar {
    min-height: 58px; }
  #brand.v2015.restyle header.navbar .wrapper {
    top: 0;
    min-height: 57px; }
  #brand.v2015.restyle header.navbar .wrapper .content h1 {
    background-color: transparent !important; }
  #brand.v2015.restyle header.navbar .wrapper .content h1 {
    vertical-align: middle;
    margin-top: 28px;
    font-size: 30px !important; }
  #brand.v2015.restyle header.navbar .wrapper .content h1 img {
    display: none; }
  #brand.v2015.restyle header.navbar .wrapper .content img.logo_shield {
    height: 100%;
    width: 61px; }

  #brand.v2015.v2015-ciutat-prehome.restyle header.navbar .wrapper {
    min-height: 57px; }

  #brand.v2015.restyle.punt-bcn .wrapper .content .center {
    width: 84%;
    margin-top: 0;
    margin-left: 0; } }
	
@media screen and (min-width: 1024px) {
  #brand.v2015 .wrapper .content {
    width: 906px;
    padding: 0; }

  #brand.v2015 header.navbar {
    height: 45px;
    min-height: 45px; }
  #brand.v2015 header.navbar .wrapper {
    height: 39px;
    min-height: 39px; }
  #brand.v2015 header.navbar .wrapper.legacy .content {
    width: 906px;
    padding-left: 0; }
  #brand.v2015 header.navbar .wrapper .content {
    width: 97.79249%;
    min-width: 906px;
    padding-left: 2.20751%; }
  #brand.v2015 header.navbar .wrapper .content .logo {
    width: 40%;
    float: left; }
  #brand.v2015 header.navbar .wrapper .content .logo h1 {
    width: 143px;
    height: 37px; }
  #brand.v2015 header.navbar .wrapper .content .center {
    width: 20%;
    text-align: center;
    padding-top: 12px;
    padding-right: 0;
    float: left;
    max-width: none;
    margin-right: 0; }
  #brand.v2015 header.navbar .wrapper .content .center div {
    margin: 0 auto;
    overflow: hidden;
    display: inline-block; }
  #brand.v2015 header.navbar .wrapper .content .center .none {
    display: inline-block; }
  #brand.v2015 header.navbar .wrapper .content .center .search_icon {
    display: none; }
  #brand.v2015 header.navbar .wrapper .content .center .search_icon.none {
    display: block; }
  #brand.v2015 header.navbar .wrapper .content .center a.app_launcher_mobile {
    display: none; }
  #brand.v2015 header.navbar .wrapper .content .center a.app_launcher {
    width: 16px;
    height: 16px;
    float: right;
    display: inline-block; }
  #brand.v2015 header.navbar .wrapper .content .center a.app_launcher img {
    display: none; }
  #brand.v2015 header.navbar .wrapper .content .center a.app_launcher.open {
    background-position: center -16px; }
  #brand.v2015 header.navbar .wrapper .content .center a.app_launcher.open:hover {
    background-position: center -16px; }
  #brand.v2015 header.navbar .wrapper .content .center a.app_launcher:hover {
    background-position: center -32px; }
  #brand.v2015 header.navbar .wrapper .content .center a.lang_mobile {
    display: none; }
  #brand.v2015 header.navbar .wrapper .content .center a.lang {
    float: right;
    text-decoration: none;
    color: #747480;
    text-align: center; }
  #brand.v2015 header.navbar .wrapper .content .center a.lang span.lang_text {
    display: inline-block;
    padding-right: 4px;
    font-size: 14px;
    vertical-align: top; }
  #brand.v2015 header.navbar .wrapper .content .center a.lang span.arrow {
    width: 9px;
    height: 5px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    top: 8px; }
  #brand.v2015 header.navbar .wrapper .content .center a.lang.open {
    color: #c5c5ca; }
  #brand.v2015 header.navbar .wrapper .content .center a.lang.open:hover {
    color: #c5c5ca; }
  #brand.v2015 header.navbar .wrapper .content .center a.lang:hover {
    color: black; }
  #brand.v2015 header.navbar .wrapper .content .center a.lang:hover span.arrow {
    background-position: right -5px; }
  #brand.v2015 header.navbar .wrapper .content .center a.search_icon {
    float: right;
    width: 15px;
    height: 16px;
    margin-right: 18px;
    margin-top: 0; }
  #brand.v2015 header.navbar .wrapper .content .center a.search_icon:hover {
    background-position: 0 -16px; }
  #brand.v2015 header.navbar .wrapper .content .center a.search_icon.open {
    background-position: 0 -32px; }
  #brand.v2015 header.navbar .wrapper .content .center a.search_icon img {
    display: none; }
  #brand.v2015 header.navbar .wrapper .content h2.right {
    display: inline-block;
    margin-right: 20px;
    text-align: right;
    float: right;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 18px; }
  #brand.v2015 header.navbar .wrapper .content h2.right {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding-top: 7px; }
  #brand.v2015 header.navbar .wrapper .content h2.right span {
    width: 19px;
    height: 19px;
    display: inline-block;
    margin-left: 3px;
    top: 4px;
    position: relative; }
  #brand.v2015 header.navbar .wrapper .content h2.right span.open {
    background-position: center -38px; }
  #brand.v2015 header.navbar .wrapper .content h2.right:hover span {
    background-position: 0 -19px; }
  #brand.v2015 header.navbar .wrapper .content h2.right:hover span.open {
    background-position: center -38px; }
  #brand.v2015 header.navbar .wrapper .content .logo_shield {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    padding-left: 0; }
  #brand.v2015 header.navbar .wrapper .content img.logo_shield {
    width: 40px;
    height: 37px; }
  #brand.v2015 header.navbar .wrapper .content .logo_shield:hover {
    padding-left: 75px; }

  #brand.v2015.restyle header.navbar {
    height: 38px !important;
    min-height: 38px !important; }
  #brand.v2015.restyle header.navbar .wrapper.legacy {
    top: 0;
    height: 37px;
    min-height: 37px; }
  #brand.v2015.restyle header.navbar .wrapper.legacy .content .center {
    width: 33%; }
  #brand.v2015.restyle header.navbar .wrapper.legacy .content .center a.lang span.lang_text {
    padding-right: 0; }
  #brand.v2015.restyle header.navbar .wrapper.legacy .content .logo_shield {
    position: absolute;
    right: 0;
    z-index: 1; }
  #brand.v2015.restyle header.navbar .wrapper.legacy .content img.logo_shield {
    width: 39px;
    height: 100%; }
  #brand.v2015.restyle header.navbar .wrapper.legacy .content h1 {
    background-color: transparent !important; }
  #brand.v2015.restyle header.navbar .wrapper.legacy .content h1 {
    vertical-align: middle;
    margin-top: 20px;
    font-size: 18px !important; }
  #brand.v2015.restyle header.navbar .wrapper.legacy .content h1 img {
    display: none; }
  #brand.v2015.restyle header.navbar .wrapper.legacy .content h2.right {
    width: 29%; }
  #brand.v2015.restyle header.navbar .wrapper.legacy .content h2.right {
    letter-spacing: -0.5px; }
  #brand.v2015.restyle header.navbar .wrapper.legacy .content .logo {
    width: 33%; }
  #brand.v2015.restyle header.navbar .wrapper.legacy .content .logo_shield {
    background-size: 111px 100% !important; }
}

@media screen and (min-width: 1280px) {
  #brand.v2015 .wrapper .content {
    width: 1080px; }
  #brand.v2015 nav.panel {
    height: 124px; }
  #brand.v2015 header.navbar {
    height: 53px; }
  #brand.v2015 header.navbar .wrapper {
    height: 47px; }
  #brand.v2015 header.navbar .wrapper .content {
    min-width: 1080px; }
  #brand.v2015 header.navbar .wrapper .content .logo h1 {
    width: 175px;
    height: 46px; }
  #brand.v2015 header.navbar .wrapper .content .center {
    padding-top: 16px; }
  #brand.v2015 header.navbar .wrapper .content h2.right {
    font-size: 20px;
    margin-right: 12px;
    clear: none; }
  #brand.v2015 header.navbar .wrapper .content h2.right {
    padding-top: 10px; }
  #brand.v2015 header.navbar .wrapper .content img.logo_shield {
    width: 48px;
    height: 45px; }
  #brand.v2015 header.navbar .wrapper .content .logo_shield:hover {
    background-size: auto auto;
    padding-left: 91px; }

  #brand.v2015.restyle header.navbar {
    height: 46px !important;
    min-height: 46px; }
  #brand.v2015.restyle header.navbar .wrapper.legacy {
    top: 0;
    height: 45px; }
  #brand.v2015.restyle header.navbar .wrapper.legacy .content h1 {
    background-color: transparent !important; }
  #brand.v2015.restyle header.navbar .wrapper.legacy .content h1 {
    margin-top: 23px;
    font-size: 20px !important;
    letter-spacing: -0.5px; }
  #brand.v2015.restyle header.navbar .wrapper.legacy .content h1 img {
    display: none; }
  #brand.v2015.restyle header.navbar .wrapper.legacy .content .center a.lang span.lang_text {
    padding-right: 0; }
  #brand.v2015.restyle header.navbar .wrapper.legacy .content .logo_shield {
    position: absolute;
    right: 0;
    background-size: 135px 100% !important; }
  #brand.v2015.restyle header.navbar .wrapper.legacy .content img.logo_shield {
    width: 48px;
    height: 100%; }
  #brand.v2015.restyle header.navbar .wrapper.legacy .content h2.right {
    font-size: 20px;
    letter-spacing: -0.5px; }
  #brand.v2015.restyle .js_launcher_panel .padding .wrapper .content .left h3 {
    margin-top: -8px; }
  #brand.v2015.restyle .js_launcher_panel .padding .wrapper .content .left h3 a {
    font-size: 21px; }
  #brand.v2015.restyle .js_city_panel .padding .wrapper .content .left h3 a {
    font-size: 21px; }
#brand.v2015 .wrapper .content:after, #brand.v2015 nav.panel:after, #brand.v2015 nav.panel .padding-close:after, #brand.v2015 nav.lang .padding:after, #brand.v2015 nav.app .padding:after, #brand.v2015 nav.app ul li:after, #brand.v2015 nav.app ul li a:after, #brand.v2015 nav.city .left:after, #brand.v2015 nav.city .left ul:after, #brand.v2015 nav.city .right:after, #brand.v2015.v2015-ajuntament-f nav.city .left ul li:last-child:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

#brand.v2015 header.navbar .wrapper .content .center a.app_launcher {
  margin-right: 20px; }

/* Banner 2015 Ajuntament - Mobile First */
#brand.v2015.v2015-ajuntament-f header.navbar {
  border: none;
  background-color: white;
  min-height: 35px;
  height: 35px; }
#brand.v2015.v2015-ajuntament-f header.navbar .wrapper {
  top: 1px;
  min-height: 33px;
  height: 33px; }
#brand.v2015.v2015-ajuntament-f header.navbar .wrapper .content {
  padding-right: 10px;
  padding-left: 0; }
#brand.v2015.v2015-ajuntament-f header.navbar .wrapper .content h1 {
  background-color: transparent;
  text-indent: -9999px;
  width: 98px;
  height: 32px;
  word-wrap: normal; }
#brand.v2015.v2015-ajuntament-f header.navbar .wrapper .content h1 img {
  display: block; }
#brand.v2015.v2015-ajuntament-f header.navbar .wrapper .content .center {
  width: 68.3871%;
  padding-right: 0;
  padding-top: 5px;
  margin-right: 0; }
#brand.v2015.v2015-ajuntament-f header.navbar .wrapper .content .center a.app_launcher_mobile, #brand.v2015.v2015-ajuntament-f header.navbar .wrapper .content .center a.search_icon {
  margin-top: 3px; }
#brand.v2015.v2015-ajuntament-f header.navbar .wrapper .content .center a.app_launcher_mobile {
  margin-right: 14px; }

#brand.v2015.v2015-ajuntament-f.restyle header.navbar {
  height: 34px;
  min-height: 34px; }
#brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy {
  top: 0;
  height: 33px; }
#brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content {
  min-width: 300px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 0; }
#brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content h1 {
  text-indent: inherit;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 700;
  word-wrap: normal; }
#brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content h1 {
  word-wrap: normal;
  color: black;
  vertical-align: middle;
  margin-top: 17px;
  letter-spacing: -0.5px;
  font-size: 16px !important;
  font-weight: bold;
  color: black; }
#brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content h1 img {
  display: none; }
#brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content img.logo_shield {
  height: 32px; }
#brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content .center {
  width: 43%;
  padding-top: 7px;
  margin-right: 10px; }
}

/* Banner 2015 Ajuntament - Media queries */
@media screen and (min-width: 480px) {
  #brand.v2015.v2015-ajuntament-f header.navbar {
    min-height: 45px; }
  #brand.v2015.v2015-ajuntament-f header.navbar .wrapper {
    min-height: 43px; }
  #brand.v2015.v2015-ajuntament-f header.navbar .wrapper .content {
    padding-right: 15px; }
  #brand.v2015.v2015-ajuntament-f header.navbar .wrapper .content h1 {
    width: 129px;
    height: 42px; }
  #brand.v2015.v2015-ajuntament-f header.navbar .wrapper .content h1 img {
    display: block; }
  #brand.v2015.v2015-ajuntament-f header.navbar .wrapper .content .center {
    padding-top: 9px; }
  #brand.v2015.v2015-ajuntament-f header.navbar .wrapper .content .center a.app_launcher_mobile {
    margin-right: 23px; }
  #brand.v2015.v2015-ajuntament-f header.navbar .wrapper .content .center a.app_launcher_mobile, #brand.v2015.v2015-ajuntament-f header.navbar .wrapper .content .center a.search_icon {
    margin-top: 0; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar {
    height: 44px;
    min-height: 44px; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy {
    min-height: 43px;
    top: 0px; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content {
    min-width: 450px;
    padding-left: 15px;
    padding-right: 0px; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content h1 {
    text-indent: inherit;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-weight: 700; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content h1 {
    vertical-align: middle;
    margin-top: 21px;
    font-size: 22px !important;
    letter-spacing: -0.5px;
    color: black; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content h1 img {
    display: none; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content img.logo_shield {
    height: 42px; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content .center {
    width: 48%;
    padding-top: 9px;
    margin-right: 22px; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content .center a.app_launcher_mobile {
    margin-top: 1px; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content .center a.search_icon {
    margin-top: 1px; }
}

@media screen and (min-width: 640px) {
  #brand.v2015.v2015-ajuntament-f header.navbar {
    min-height: 59px; }
  #brand.v2015.v2015-ajuntament-f header.navbar .wrapper {
    min-height: 57px; }
  #brand.v2015.v2015-ajuntament-f header.navbar .wrapper .content {
    padding-right: 20px; }
  #brand.v2015.v2015-ajuntament-f header.navbar .wrapper .content h1 {
    width: 172px;
    height: 56px; }
  #brand.v2015.v2015-ajuntament-f header.navbar .wrapper .content h1 img {
    display: block; }
  #brand.v2015.v2015-ajuntament-f header.navbar .wrapper .content .center {
    padding-top: 11px; }
  #brand.v2015.v2015-ajuntament-f header.navbar .wrapper .content .center a.app_launcher_mobile {
    margin-right: 30px; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar {
    min-height: 58px; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy {
    top: 0;
    min-height: 57px; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content {
    padding-right: 0;
    padding-left: 20px; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content h1 {
    background-color: transparent !important;
    text-indent: inherit;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-weight: 700; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content h1 {
    vertical-align: middle;
    margin-top: 27px;
    font-size: 30px !important;
    letter-spacing: -0.5px;
    color: black; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content h1 img {
    display: none; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content img.logo_shield {
    height: 56px;
    -ms-interpolation-mode: bicubic; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content .center {
    width: 46.16667%;
    padding-top: 10px;
    margin-right: 30px; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content .center a.app_launcher_mobile {
    margin-top: 4px; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content .center a.search_icon {
    margin-top: 4px; }
}

@media screen and (min-width: 1024px) {
  #brand.v2015.v2015-ajuntament-f header.navbar {
    min-height: 38px;
    height: 38px; }
  #brand.v2015.v2015-ajuntament-f header.navbar .wrapper {
    min-height: 37px;
    height: 37px; }
  #brand.v2015.v2015-ajuntament-f header.navbar .wrapper .content {
    padding-right: 0; }
  #brand.v2015.v2015-ajuntament-f header.navbar .wrapper .content h1 {
    width: 111px;
    height: 36px; }
  #brand.v2015.v2015-ajuntament-f header.navbar .wrapper .content h2.right {
    padding-right: 0;
    margin-right: 0;
    width: 33.3333%; }
  #brand.v2015.v2015-ajuntament-f header.navbar .wrapper .content .center {
    padding-top: 11px; }
  #brand.v2015.v2015-ajuntament-f header.navbar .wrapper .content .logo, #brand.v2015.v2015-ajuntament-f header.navbar .wrapper .content .center, #brand.v2015.v2015-ajuntament-f header.navbar .wrapper .content h2.right {
    width: 33%; }

  #brand.v2015.v2015-ajuntament-f.restyle header.navbar {
    height: 38px;
    min-height: 38px; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy {
    top: 0;
    height: 37px;
    min-height: 37px; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content {
    padding-left: 0px; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content .center {
    width: 33%;
    padding-top: 11px;
    margin-right: 0px; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content .center a.lang span.lang_text {
    padding-right: 0; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content .center a.search_icon {
    margin-top: 0px; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content .logo_shield {
    position: absolute;
    right: 0;
    z-index: 1; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content img.logo_shield {
    width: 39px;
    height: 36px;
    -ms-interpolation-mode: bicubic; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content h1 {
    text-indent: inherit;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-weight: 700; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content h1 {
    vertical-align: middle;
    margin-top: 20px;
    font-size: 18px !important;
    letter-spacing: -0.5px;
    color: black; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content h1 img {
    display: none; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content h2.right {
    width: 29%; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content h2.right {
    letter-spacing: -0.5px;
    padding-top: 6px; }
}

@media screen and (min-width: 1280px) {
  #brand.v2015.v2015-ajuntament-f nav.panel {
    height: 130px; }
  #brand.v2015.v2015-ajuntament-f header.navbar {
    height: 46px; }
  #brand.v2015.v2015-ajuntament-f header.navbar .wrapper {
    top: 2px;
    height: 44px; }
  #brand.v2015.v2015-ajuntament-f header.navbar .wrapper .content h1 {
    width: 129px;
    height: 42px; }
  #brand.v2015.v2015-ajuntament-f header.navbar .wrapper .content h2.right {
    padding-top: 9px; }
  #brand.v2015.v2015-ajuntament-f header.navbar .wrapper .content .center {
    padding-top: 14px; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar {
    height: 46px; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy {
    top: 0;
    height: 45px; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content {
    padding-right: 0px;
    padding-left: 0px;
    min-width: 1080px; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content h1 {
    text-indent: inherit;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-weight: 700; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content h1 {
    margin-top: 21px;
    font-size: 20px !important;
    letter-spacing: -0.5px;
    color: black; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content h1 img {
    display: none; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content h2.right {
    width: 29%; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content h2.right {
    padding-top: 8px; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content .logo_shield {
    position: absolute;
    right: 0; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content img.logo_shield {
    width: 48px;
    height: 44px;
    -ms-interpolation-mode: bicubic; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content .center {
    width: 33%;
    padding-top: 14px;
    margin-right: 0px; }
  #brand.v2015.v2015-ajuntament-f.restyle header.navbar .wrapper.legacy .content .center a.search_icon {
    margin-top: 0px; }
}
/* --- END Brand css --- */


/* ---------------- DI  */

body {padding-bottom: 0em !important;}

body #BodyDefault.ext-public { font-family: 'Source Sans Pro',sans-serif; font-size: 16px;}
body #BodyDefault.ext-public a { color: #b94b90;}
#BodyDefault.ext-public .container-fluid {      padding: 0!important;    margin: 0!important;    width: 100%;}
#BodyDefault.ext-public #LogoBox {position: absolute; max-width: 45%; max-height: 45%; top: 80%; left: 49%;}
#BodyDefault.ext-public #LogoBox img {display: none; }
#BodyDefault.ext-public #NodeIntroPresentation, #NodeIntroDescription, #WhistleblowerBox, #DonationPanel {  width: 1080px;    padding: 0!important;    margin: 0 auto;}
#BodyDefault.ext-public div#WhistleblowerBox {    padding: 3px 0;}
#BodyDefault.ext-public #NodeIntroDescription { letter-spacing: -0.01em;    font-weight: 300;    font-size: 17px;}
#BodyDefault.ext-public #NodeIntro { background: url('/s/bustia_etica_icona_aplicacio_140x140.png') #f5f4f5 no-repeat 50% -14px; margin-bottom: 0;  text-align: center;    padding: 100px 7% 50px;}
#BodyDefault.ext-public #HomePageBox { color: #666;}
#BodyDefault.ext-public #HeaderBoxContentRight { margin-bottom: -20vw; display: block;}
#BodyDefault.ext-public #LanguagePickerBox, #BodyDefault.ext-public #LogoutLinkBox span:first-child {display: none;}
#BodyDefault.ext-public #HeaderBoxContentLeft { width: 100%; position: relative; z-index: 1; margin-top: 35px;}
#BodyDefault.ext-public #LogoutLinkBox a {z-index: 5; background-color: #b94b90!important; border: inherit; color: #fff; position: absolute; top: -85%; left: 260%; text-decoration: none; text-align: center; width: 120px; padding: 8px 0 8px 0;}
#BodyDefault.ext-public #HeaderBox {    color: black;    background: inherit!important;    border-bottom:  inherit!important;}
#BodyDefault.ext-public div#TitleBox {    width: 100%;   margin: 0 auto;    text-align: center; margin-top: 2%;}
#BodyDefault.ext-public div#PageTitle {    font-weight: 300;    color: #b94b90;    margin: 0;    letter-spacing: -0.06em;    font-size: 40px;}
#BodyDefault.ext-public div#PageSubtitle { line-height: 20px; letter-spacing: -0.01em; font-weight: 300; color: #666666; font-size: 16px; margin-top: 0px; display: block;}
#BodyDefault.ext-public #WhistleblowerBox {margin: 30px auto;}
#BodyDefault.ext-public form#submissionForm {    width: 1080px;    padding: 0!important;    margin: 0 auto;}
#BodyDefault.ext-public form.form-inline.ng-pristine.ng-invalid.ng-invalid-keycodevalidator.ng-valid-maxlength {    padding: 10px;}

/*Buttons*/
#BodyDefault.ext-public button.btn.btn-primary , html[dir] #BodyDefault.ext-public .btn-success, #BodyDefault.ext-public #SubmissionButtons button, #BodyDefault.ext-public #PreviousStepButton, #BodyDefault.ext-public #NextStepButton{
    background-color: #b94b90!important;
    border: inherit;
    color: #fff;
    background-image: none;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    font-size: 14px!important;
    padding: 6px 30px;
}
#BodyDefault.ext-public button#ReceiptButton {    height: 32px;    font-size: 14px!important;    opacity: 1;}
#BodyDefault.ext-public #WhistleblowerSubmitBoxHeader, #BodyDefault.ext-public #WhistleblowerLoginPrompt {  text-align: left;  font-size: 20px; font-weight: 400; margin-bottom: 10px;}
#BodyDefault.ext-public #WhistleblowerSubmitBoxHeader h1, #BodyDefault.ext-public #WhistleblowerLoginPrompt h1 { font-size: 30px; }

/*Form*/
#BodyDefault.ext-public label {    font-size: 18px;    font-weight: 300;    color: #000;}
#BodyDefault.ext-public .panel-heading {    background: none;    border: none!important;    padding: inherit!important;}
#BodyDefault.ext-public .submissionFieldInput {    padding-left: inherit;}
#BodyDefault.ext-public div#SubmissionButtons {    text-align: center;}
#BodyDefault.ext-public .fieldAnswerEntryLast , .fieldAnswerEntry{    margin-bottom: 0;    margin-top: 0;}

html[dir] #BodyDefault.ext-public .panel-default {    border: none!important;    padding: inherit;}
html[dir] #BodyDefault.ext-public .form-group {    margin-bottom: 0;    padding-left: 0;}
html[dir] #BodyDefault.ext-public .panel-body {    padding: 0;}
html[dir] #BodyDefault.ext-public .form-control {    border-radius: 0;}
html[dir] #BodyDefault.ext-public .input-group .form-control {    margin-bottom: 0;    width: 100%;    height: 32px;    padding-left: 5px;    padding-right: 5px;    border-color: #666!important;    border: 1px solid;    border-radius: 0;}

#BodyDefault.ext-public #NodeIntroPresentation {    font-size: 30px;    font-weight: 500;}
#BodyDefault.ext-public #FooterBox {    position: inherit!important;    width: 1080px;    margin: 0 auto;    margin-top: 40px;    border-top: 1px solid #E5E5E5;    background-color: white!important;    color: #777;    text-align: right;    font-size: 0.9em;
    font-weight: 600;}
html[dir] #BodyDefault.ext-public .has-error .form-control:focus {box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .075), 0 0 30px #ce8483; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 30px #ce8483;}
#BodyDefault.ext-public #TipQuestionnaireAnswersBox div[data-ng-if='!hasMultipleEntries(fieldAnswers[field.id])'], #BodyDefault.ext-public #TipQuestionnaireAnswersBox div[data-ng-repeat="field in step.children | orderBy:['y', 'x'] | filter:{ type: '!fileupload'}"] {width: 100% !important;}
#BodyDefault.ext-public #submissionForm #step-1 .fieldDescription {display: none}
#BodyDefault.ext-public #submissionForm #step-2 #StepDescription { padding-bottom: 2%; }
#BodyDefault.ext-public #submissionForm #step-1 .panel-heading, #BodyDefault.ext-public #submissionForm #step-2 .panel-heading, #BodyDefault.ext-public #submissionForm #step-3 .panel-heading {padding-left: 0 !important;}
#BodyDefault.ext-public #submissionForm #step-1 .fieldLabel, #BodyDefault.ext-public #submissionForm #step-2 .fieldLabel, #BodyDefault.ext-public #submissionForm #step-3 .fieldLabel {font-weight: 400;}
#BodyDefault.ext-public #submissionForm #step-3 .tos-agreement {color: #993300; font-size: 17px;}
#BodyDefault.ext-public #KeyCodeHintBox, #BodyDefault.ext-public #submissionForm #step-2 .uploadingBox, #BodyDefault.ext-public #submissionForm #step-1 .uploadingBox, #BodyDefault.ext-public #submissionForm #step-3 div.form-group.tos-clause { display: none;}
#BodyDefault.ext-public #ReceiptInputBox {text-align: center;}
#BodyDefault.ext-public #FooterBox { width: 90% !important; font-size: 14px;}
#BodyDefault.ext-public #KeyCodeBox span {display: none;}

html[dir="ltr"] #BodyDefault.ext-public .row {margin-right: inherit !important; margin-left: inherit !important; width: 100%;}
#BodyDefault.ext-public #step\=0 {display: none;}
#BodyDefault.ext-public #NodeIntroPresentation, #BodyDefault.ext-public #NodeIntroDescription {width: 100%;}
#BodyDefault.ext-public #TipQuestionnaireAnswersBox div.TipPageSectionContent.panel-body > div:last-child {display: none;}
#BodyDefault.ext-public #TipQuestionnaireAnswersBox div.TipPageSectionContent.panel-body div:nth-child(2) {width: 40%; float: left;}
#BodyDefault.ext-public #TipQuestionnaireAnswersBox div.TipPageSectionContent.panel-body div:nth-child(2) .fieldTitle {display: none;}
#BodyDefault.ext-public #ContentBox .row .col-md-6 {width: 100%;}
#BodyDefault.ext-public #PrivacyBadgeBox {position: absolute; width: 100%; text-align: center; background-color: #ab538d; height: 30px; padding: 4px;}
#BodyDefault.ext-public #PrivacyBadgeBox a {color: white; font-weight: bold; z-index: 999; position: relative;}
#BodyDefault.ext-public #step-3 .fieldDescription {padding: 3% 0;}
#BodyDefault.ext-public #FooterBox .text-footer-complet {width: 100%; padding: 0% 0% 1% 5%; text-align: left;}
#BodyDefault.ext-public #FooterBox .text-footer-1 {font-family: 'Source Sans Pro',sans-serif; font-weight:700;color:#666666;}
#BodyDefault.ext-public #FooterBox .text-footer-2 {font-family:'Source Sans Pro',sans-serif; font-weight:400;color:#666666;}
#BodyDefault.ext-public #FooterBox .text-footer-2 > a { cursor: pointer; font-family: 'Source Sans Pro',sans-serif; font-weight: 700; color: rgb(0, 0, 255);}
#BodyDefault.ext-public #FooterBox .text-footer-3 > a{ cursor: pointer; font-weight: 700; font-style: normal; color: #0000FF; float: right;}
#BodyDefault.ext-public #FooterBox #AttributionClause {text-align: center; font-family:'Source Sans Pro',sans-serif;font-weight:400;}
#BodyDefault.ext-public #FooterBox #AttributionClause > a {font-family:'Source Sans Pro',sans-serif;font-weight:700;color:#0000FF;}
#BodyDefault.ext-public #TipQuestionnaireAnswersBox div.TipPageSectionContent.panel-body div:nth-child(1) { float:left; width: 60%; display: inline-block; font-family: 'Source Sans Pro',sans-serif; color: #666666;}
#BodyDefault.ext-public #TipQuestionnaireAnswersBox div.TipPageSectionContent.panel-body div:nth-child(1) * {width: 100% !important;}
#BodyDefault.ext-public div.TipPageSectionContent.panel-body thead th {color: #4784cd;}
#BodyDefault.ext-public #TipQuestionnaireAnswersBox > div.TipPageSectionContent.panel-body > div:nth-child(1) > dd > div > span > div > div> span {display: none;}
#BodyDefault.ext-public #TipQuestionnaireAnswersBox > div.TipPageSectionContent.panel-body > div:nth-child(1) >dd>div:nth-child(1)>span>div>div:last-child {font-weight: bold;}
#BodyDefault.ext-public #TipQuestionnaireAnswersBox > div.TipPageSectionContent.panel-body > div:nth-child(2) {font-size: 18px; font-weight: 700;}
#BodyDefault.ext-public #SubmissionStepError, #BodyDefault.ext-public #SubmissionErrors {box-shadow: none; border: none;}
#BodyDefault.ext-public #SubmissionStepError p, #BodyDefault.ext-public #SubmissionErrors p {margin: 0;}
#BodyDefault.ext-public #SubmissionStepError code, #BodyDefault.ext-public #SubmissionErrors code {font-family: 'Source Sans Pro',sans-serif; background: none; font-size: 100%;}
#BodyDefault.ext-public #SubmissionStepError i.glyphicon::before, #BodyDefault.ext-public #SubmissionErrors i.glyphicon::before {content: "-";}
#BodyDefault.ext-public #SubmissionStepError i.glyphicon, #BodyDefault.ext-public #SubmissionErrors i.glyphicon {content: "-";}
#BodyDefault.ext-public #SubmissionStepError ul, #BodyDefault.ext-public #SubmissionErrors ul {padding-left: 0;}
#BodyDefault.ext-public #TipQuestionnaireAnswersBox #step\=1 {display: none;}
#BodyDefault.ext-public #TipQuestionnaireAnswersBox .fieldTitle {display: none;}
#BodyDefault.ext-public #TipQuestionnaireAnswersBox #step\=2 {display: none;}
#HeaderBoxContentRight #UserBox #LoginFormBox{display: none;}
#BodyDefault.ext-public #LoginRoleText {display: none;}
#BodyDefault.ext-public #TipQuestionnaireAnswersBox .panel-heading, #BodyDefault.ext-public #TipInfoBox .panel-heading, #BodyDefault.ext-public #TipPageFilesInfoBox .panel-heading, #BodyDefault.ext-public #TipCommunicationComments .panel-heading, #BodyDefault.ext-public #AttachedWBFile .panel-heading { width: 100%; font-family: 'Source Sans Pro',sans-serif; font-weight: 700; font-style: normal; font-size: 16px; text-align: left; padding: 10px !important; height: 40px;background: rgba(215, 215, 215, 1); border-radius: 0px;}
#BodyDefault.ext-public #AttachedWBFile .panel-body {
  padding: 10px;
}
#BodyDefault.ext-public .glyphicon-asterisk {font-size: 50% !important; top: -5px;}
#BodyDefault.ext-public #TipQuestionnaireAnswersBox .panel-heading {margin-bottom: 10px;}
#BodyDefault.ext-public #TipCommunicationComments .TipPageSectionContent.panel-body {padding-top: 1%;}
#BodyDefault.ext-public #TipCommunicationComments .TipPageSectionContent.panel-body > .row {float: right; width: 50%;}
#BodyDefault.ext-public #TipCommunicationComments #SubmissionComments {margin-top: initial; width: 50%; }
#BodyDefault.ext-public #KeyCodeBox > div:nth-child(2) {text-align: left;}
#BodyDefault.ext-public #KeyCodeBox >div:nth-child(2) > div > p:first-child {font-weight: bold;}
#BodyDefault.ext-public .panel-heading i.glyphicon-collapse-down {content: url('/s/Menys.png') !important;}
#BodyDefault.ext-public .panel-heading i.glyphicon-fullscreen {content: url('/s/Mes.png') !important;}
#BodyDefault.ext-public .panel-heading i.glyphicon-collapse-down::before {content: url('/s/Menys.png') !important;}
#BodyDefault.ext-public .panel-heading i.glyphicon-fullscreen::before {content: url('/s/Mes.png') !important;}
#BodyDefault.ext-public .panel-heading i.glyphicon-fullscreen, #BodyDefault.ext-public .panel-heading i.glyphicon-collapse-down {width: 44px; height: 35px; }
html[dir="ltr"] #BodyDefault.ext-public .panel-heading .pull-right { height: 36px; top: -9px; position: relative;}

@-moz-document url-prefix() {
	html[dir="ltr"] #BodyDefault.ext-public .panel-heading .pull-right { height: 40px; top: -15px; position: relative;}
}
html[dir] #BodyDefault.ext-public #ContentBox .row:first-child .table > thead > tr > th:first-child, 
html[dir] #BodyDefault.ext-public #ContentBox .row:first-child .table > thead > tr > th:nth-child(4),
html[dir] #BodyDefault.ext-public #ContentBox .row:first-child .table > thead > tr > th:last-child,
html[dir] #BodyDefault.ext-public #ContentBox .row:first-child .table > tbody > tr > td:first-child,
html[dir] #BodyDefault.ext-public #ContentBox .row:first-child .table > tbody > tr > td:nth-child(4), 
html[dir] #BodyDefault.ext-public #ContentBox .row:first-child .table > tbody > tr > td:last-child {display: none;}

@media screen and (min-width: 1025px) {
	#BodyDefault.ext-public .fileName, #BodyDefault.ext-public .fileSize {
		margin-left: 25px;
	}
	#BodyDefault.ext-public button.btn.btn-primary {float: left;}
	#BodyDefault.ext-public #WhistleblowerReceiptBox {text-align: left; width: 50%; float: left; padding: 0px 10% 0 5%; margin-top: 0%;}
	#BodyDefault.ext-public #WhistleblowerSubmitBox {float: left; width: 50%; height: 174px; padding: 0px 4% 0px 10%; border-right: 1px gray solid; margin-bottom: 0em;}
	#BodyDefault.ext-public #submissionForm #step-3 #step-3-field-0-0-input-0 {margin-top: 0.8%;}
	#BodyDefault.ext-public form.form-inline.ng-pristine.ng-invalid.ng-invalid-keycodevalidator.ng-valid-maxlength {padding-left: 0;}
}

@media screen and (max-width: 1024px) {
	#BodyDefault.ext-public #KeyCodeBox .col-md-2 {float: left;}
	#BodyDefault.ext-public #FooterBox .text-footer-complet {padding: 0% 31% 1% 1%;}
	#BodyDefault.ext-public #KeyCodeBox #KeyCode {display: inline-block;}
	#BodyDefault.ext-public #NodeIntroPresentation, #BodyDefault.ext-public #WhistleblowerBox {padding: 0 7% !important;}
	#BodyDefault.ext-public div#PageSubtitle { position: relative; z-index: 999;}
	#BodyDefault.ext-public form#submissionForm {
		width: 100%;
		padding-left: 15px !important;
   		padding-right: 15px!important;
	}
	#BodyDefault.ext-public #TitleBox {
		line-height: 2em !important;
	    padding-top: 2em !important;
	    margin-bottom: 2em !important;
	}
	#BodyDefault.ext-public #SubmissionButtons button, #BodyDefault.ext-public #PreviousStepButton {
		margin: 6px auto;
	}
}

@media screen and (min-width: 992px) {
	#BodyDefault.ext-public #KeyCodeBox {left: 25%; text-align: center;}
	#BodyDefault.ext-public form[name="loginForm"] { position: relative; left: 100%;}
	#BodyDefault.ext-public #KeyCodeThanks1, .ext-public #KeyCodeThanks2 {text-align: center;}
	#BodyDefault.ext-public #keyCode {margin: 1.25em 15% !important;}
	#BodyDefault.ext-public #KeyCodeBox.col-md-6 { width: 50% !important; }
	#BodyDefault.ext-public #LogoBox, #BodyDefault.ext-public #TitleBox, #BodyDefault.ext-public #UserBox {height: 7em;}
}

@media screen and (max-width: 991px) {
	#BodyDefault.ext-public #KeyCodeBox > div:last-child {text-align: right;}
	#BodyDefault.ext-public #KeyCodeBox #ReceiptButton {float: none !important;}
	#BodyDefault.ext-public #ReceiptOutputBox > .row { padding: 0 7%; }
	#BodyDefault.ext-public #TipCommunicationComments .TipPageSectionContent.panel-body > .row {float: none; width: 100%;}
	#BodyDefault.ext-public #TipCommunicationComments #SubmissionComments {width: 100%; margin-top: 1.25em;}
	#BodyDefault.ext-public #LogoBox, #BodyDefault.ext-public #TitleBox, #BodyDefault.ext-public #UserBox {height: 3em;}
	#BodyDefault.ext-public #LogoutLinkBox a {    
	    left: 84%;
	    top: 120px;
	}
}

@media screen and (max-width: 429px) {
  #BodyDefault.ext-public #LogoBox, #BodyDefault.ext-public #TitleBox, #BodyDefault.ext-public #UserBox {height: 4em;}
}

@media screen and (max-width: 769px) {
	#BodyDefault.ext-public #LogoutLinkBox a {    
		left: 42%;
		top: 145px;
	}
	#BodyDefault.ext-public #PrivacyBadgeBox { float: left; position: absolute; top: 57px; width: 100%;}
	#BodyDefault.ext-public #SubmissionTabsNavigationBox {margin-top: -20px;}
	#BodyDefault.ext-public #WhistleblowerSubmitBoxHeader, #BodyDefault.ext-public #WhistleblowerLoginPrompt { font-weight: 300; font-size: 17px; }
	#BodyDefault.ext-public #CustomIntroTxt {padding-left: 17px;}
	html[dir] #BodyDefault.ext-public .panel-default {padding: 0;}
	#BodyDefault.ext-public #TipQuestionnaireAnswersBox div.TipPageSectionContent.panel-body div:nth-child(1), #BodyDefault.ext-public #TipQuestionnaireAnswersBox div.TipPageSectionContent.panel-body div:nth-child(2), #BodyDefault.ext-public #TipQuestionnaireAnswersBox div.TipPageSectionContent.panel-body div:nth-child(3) {width: 100%;}
}

@media screen and (max-width: 670px) {
  #BodyDefault.ext-public #PrivacyBadgeBox {height: 50px;}
}

@media screen and (max-width: 639px) {
	#BodyDefault.ext-public #PrivacyBadgeBox { top: 43px; }
}

@media screen and (max-width: 479px) {
	#BodyDefault.ext-public #PrivacyBadgeBox { top: 32px; }
}

@media screen and (max-width: 620px) {
	#BodyDefault.ext-public #SubmissionTabsNavigationBox li {    
	    width: 100%;
	}
  #LoaderBox {width: 70% !important;}
	#BodyDefault.ext-public #SubmissionTabsNavigationBox li.active{
		font-weight: bold;
	}
	#BodyDefault.ext-public #FooterBox .text-footer-3 { display: inline-block; text-align: center; float: none;}
	#BodyDefault.ext-public #FooterBox .text-footer-complet {padding: 0; text-align: center;}
	#BodyDefault.ext-public #FooterBox {text-align: center;}
}

@media screen and (max-width: 522px) {
	#BodyDefault.ext-public #KeyCode { width: 100%; }
}

@media screen and (max-width: 479px) {
  #ContentBox #AttachedWBFile .panel-heading > div > span:first-child {
    float: left;
    width: 80%;
    position: relative;
    top: -12px;
  }
	#BodyDefault.ext-public #LogoutLinkBox a {    
	    left: 38%;
	    top: 116px;
	}
}

@media screen and (max-width: 428px) {
  #BodyDefault.ext-public #LogoutLinkBox a {    
      top: 148px;
  }
}

@media screen and (max-width: 415px) {

	#BodyDefault.ext-public div#TitleBox {margin-top: 8%;}
	#BodyDefault.ext-public #LogoutLinkBox a {    
	    left: 35%;
      top: 170px;
	}
  #ContentBox #TipCommunicationComments .panel-heading > div > span:first-child {
    float: left;
    width: 80%;
    position: relative;
    top: -12px;
  }
}

@media screen and (max-width: 367px) {
  #BodyDefault.ext-public #LogoutLinkBox a {    
      top: 175px;
  }
  #BodyDefault.ext-public #PrivacyBadgeBox {height: 70px;}
}
/* ---------------- end-DI  */